{
	"Name": "<EnumName>",
	"ShowName": "<ShowName>",
	"Description": "<OrginDescription>",
	"IsFlag": <IsFlagEnum>true<!IsFlagEnum>false</IsFlagEnum>,
	"Is64Bit": true,
	"Members": [
		<EnumMembers>
	]
}<IsLast><!IsLast>,</IsLast>