{
	"Name": "<Name>",
	"Value": <ParseredValue>,
	"StrValue": <EnumStrValue>,
	"HideInPropertyGrid": <HideInPropertyGrid>true<!HideInPropertyGrid>false</HideInPropertyGrid>,
	"BindType": "<BindType>",
	"Description": "<OrginDescription>"
}<IsLast><!IsLast>,</IsLast>