{
	"Name": "<MemberName>",
	"Type": "<OrginType>",
	"ExtendType": "<ExtendType>",
	"ShowName": "<ShowName>",
	"Description": "<OrginDescription>",
	"BindData": "<BindData>",
	"IsArray": <IsArray>true<!IsArray>false</IsArray>,	
	"HideInEditorList": <HideInEditorList>true<!HideInEditorList>false</HideInEditorList>,
	"HideInPropertyGrid": <HideInPropertyGrid>true<!HideInPropertyGrid>false</HideInPropertyGrid>,
	"HideInXls": <HideInXls>true<!HideInXls>false</HideInXls>,
	"IsKey": <IsKey>true<!IsKey>false</IsKey>
}<IsLast><!IsLast>,</IsLast>