public<IfHaveBaseClass> new</IfHaveBaseClass> bool ToJson(JObject StructNode, ulong[] MemberFlags)
{
	<IfHaveBaseClass>
	if (!base.ToJson(StructNode, MemberFlags))
		return false;
	</IfHaveBaseClass>

	ulong Flag=MemberFlags[(int)DATA_OBJECT_FLAGS.<CLASS_FLAG_INDEX>];

	<ToJsonOperations>
	return true;
}
public<IfHaveBaseClass> new</IfHaveBaseClass> bool FromJson(JObject StructNode, ulong[] MemberFlags)
{
	uint FailCount=0;
	<IfHaveBaseClass>
	if (!base.FromJson(StructNode, MemberFlags))
		return false;
	</IfHaveBaseClass>

	ulong Flag=MemberFlags[(int)DATA_OBJECT_FLAGS.<CLASS_FLAG_INDEX>];
	ulong UpdateFlag=0;

	<FromJsonOperations>

	m_ModifyFlag|=UpdateFlag;

	return FailCount==0;
}