<Description>
<IsFlagEnum>public enum <EnumName> : ulong<!IsFlagEnum>public enum <EnumName> : long</IsFlagEnum>
{
	<EnumMembers>
};

public class <EnumName>_UTILS
{
	public static readonly int ENUM_COUNT = <EnumMemberCount>;
	<IfExportEnumList>	
	public static readonly long[] VALUE_LIST = {<EnumValues>};
	</IfExportEnumList>

	<IfExportEnumStrList>
	public static readonly string[] NAME_LIST = {<EnumStrValues>};
	public static readonly string[] DESC_LIST = {<EnumStrDescs>};
	</IfExportEnumStrList>

	<IfExportEnumTransFn>
	<IsFlagEnum>
	public static string ToStr(long Value)
	{
		System.Text.StringBuilder Str = new System.Text.StringBuilder();
		<EnumToStrs>
		return Str.ToString();
	}

	public static long FromStr(string Str)
	{
		long Flag = 0;
		string[] Splitter = Str.Split('|');
		for (int i = 0; i < Splitter.Length; i++)
		{
			<StrToEnums>
		}	
		return Flag;
	}
	public static string GetDesc(long Value)
	{
		System.Text.StringBuilder Str = new System.Text.StringBuilder();
		<EnumToDescs>
		return Str.ToString();
	}
	<!IsFlagEnum>	
	public static string ToStr(long Value)
	{
		<HaveEnumStrArray>
		if (Value < ENUM_COUNT)
		{
			return NAME_LIST[Value];
		}
		</HaveEnumStrArray>
		<NotHaveEnumStrArray>
		switch((<EnumName>)Value)
		{
			<EnumToStrs>
		}
		</NotHaveEnumStrArray>
		return "UNKNOW";
	}

	public static long FromStr(string Str)
	{
		<StrToEnums>
		return (long)<EnumName>.<LastEnumValue>;
	}
	public static string GetDesc(long Value)
	{
		<HaveEnumStrArray>
		if (Value < ENUM_COUNT)
		{
			return DESC_LIST[Value];
		}
		</HaveEnumStrArray>
		<NotHaveEnumStrArray>
		switch((<EnumName>)Value)
		{
			<EnumToDescs>
		}
		</NotHaveEnumStrArray>
		return "UNKNOW";
	}
	</IsFlagEnum>	
	<IfExportEnumList>
	public static string GetDescs()
	{
		StringBuilder Desc = new StringBuilder();
		foreach(ulong Value in VALUE_LIST)
		{
			if (Desc.Length > 0)
                Desc.Append("\n");
			Desc.Append($"{Value}={GetDesc(Value)}");
		}
		return Desc.ToString();
	}
	</IfExportEnumList>
	</IfExportEnumTransFn>
};