<IsFlagEnum>
if (Splitter[i] == <EnumStrValue>)
	Flag |= <If64Bit>(long)</If64Bit><IfNot64Bit>(uint)</IfNot64Bit><EnumName>.<EnumValue>;
<!IsFlagEnum>
<IfNotFirst>else </IfNotFirst>if (Str == <EnumStrValue>)
	return <If64Bit>(long)</If64Bit><IfNot64Bit>(uint)</IfNot64Bit><EnumName>.<EnumValue>;
</IsFlagEnum>
