using System;
using System.Collections;
using System.Collections.Generic;
using System.Runtime.InteropServices;
using System.Xml;
using System.Text;
using Newtonsoft.Json.Linq;
#if ENABLE_XLS_PROCESS
using System.Windows.Forms;
using Spire.Xls;
using DataConvertor;
#endif
using DOSSystem;
using <SpaceName>;


namespace <SpaceName>
{
	<Structs>
};