import { CSmartValue, CSmartArray, CSmartStruct } from "../DOSSystem/SmartStruct";
import { OBJECT_ID } from "../DOSSystem/DOSSystem";
<DependImports>

//<InterfaceDescription>
export interface I<InterfaceName>
{
	<Methods>
};
<MethodIDEnums>
<MethodSSTIDEnumDefine>
