import { CSmartValue, CSmartArray, CSmartStruct } from "../DOSSystem/SmartStruct";
import { OBJECT_ID } from "../DOSSystem/DOSSystem";
import { ALL_CLASS } from "./<SpaceName>DataStructs";
<DependImports>

<Structs>
