using System;
using System.Collections;
using System.Collections.Generic;
using System.Runtime.InteropServices;
using System.Text;
using DOSSystem;
using <SpaceName>;

namespace <SpaceName>
{	

	<Enums>
};
