<IsFlagEnum>
if ((Value & <EnumName>.<EnumValue>) != 0)
{
	if(Str.Length > 0)
		Str.Append("|");
	Str.Append(<EnumStrValue>);
}
<!IsFlagEnum>
case <EnumName>.<EnumValue>:
	return <EnumStrValue>;
</IsFlagEnum>
