using System;
using System.Collections;
using System.Collections.Generic;
using System.Runtime.InteropServices;
using DOSSystem;
using <SpaceName>;

namespace <SpaceName>
{
	//<InterfaceDescription>
	public interface I<InterfaceName>
	{
		<Methods>
	};
	<MethodIDEnums>
	<MethodSSTIDEnumDefine>
};