MsgMap.Add(DistributedObject.MakeMsgID((uint)MODULE_IDS.<ModuleID>, (uint)<InterfaceIDEnumName>.<InterfaceID>, (uint)<MethodIDEnumName>.<MethodID>, <IsAckMsg>true<!IsAckMsg>false</IsAckMsg>), HandleMsg<MethodName>);