MsgMap.set(DOSSystem.MakeMsgID(MODULE_IDS.<ModuleID>,<InterfaceIDEnumName>.<InterfaceID>,<MethodIDEnumName>.<MethodID>,<IsAckMsg>true<!IsAckMsg>false</IsAckMsg>),{ThisPtr: this, HandlerFN: this.HandleMsg<MethodName>});