import Long from "long";
import { SMART_VALUE_TYPE, STRING_CODE_PAGE, CSmartValue, CSmartStruct, CSmartArray } from "./DOSSystem/SmartStruct"
import { DOSSystem } from "./DOSSystem/DOSSystem";

export namespace <SpaceName>
{
	export var ALL_CLASS = {};
	<AllDefines>
};