const { ccclass, property } = cc._decorator;
import Long from "long";
import { SMART_VALUE_TYPE, STRING_CODE_PAGE, CSmartValue, CSmartStruct, CSmartArray } from "./DOSSystem/SmartStruct"
import { DOSSystem } from "./DOSSystem/DOSSystem";
import {PropertyGridTools, PROPERTY_GRID_GROUP_FLAG} from"./PropertyGridTools"

export namespace <SpaceName>
{
	export var ALL_CLASS = {};
	<AllDefines>
};