import Long from "long";
import { CSmartValue, CSmartArray, CSmartStruct } from "../DOSSystem/SmartStruct";
<DependImports>

//<InterfaceDescription>
export interface I<InterfaceName>
{
	<Methods>
};
<MethodIDEnums>
<MethodSSTIDEnumDefine>
