
export class C<InterfaceName>MsgCaller implements I<InterfaceName>	
{
	m_Operator: DOSSystem.DistributedObjectOperator;
	m_TargetID: Long;
		
	constructor(Operator: DOSSystem.DistributedObjectOperator, TargetID: Long)
	{
		this.m_Operator = Operator;
		this.m_TargetID = TargetID;			
	}
		
		
		
	<Methods>
	<PackMethods>
};
