	
export class C<InterfaceName>MsgHandler
{
	protected m_pMsgHandler: I<InterfaceName>;
	public InitMsgMap(pMsgHandler: I<InterfaceName>,MsgMap: DOSSystem.MSG_MAP): void
	{
		this.m_pMsgHandler=pMsgHandler;
		<MsgMapInits>
	}

	<Methods>
};
